@font-face {
    font-family: "NearbyChatIcons";
    src: url("./NearbyChatIcons.ttf?00bf2a037bf562bc37aa7d1c12acc21d") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: NearbyChatIcons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-antenna:before {
    content: "\e001";
}
.icon-attachment:before {
    content: "\e002";
}
.icon-chat:before {
    content: "\e003";
}
.icon-check:before {
    content: "\e004";
}
.icon-down:before {
    content: "\e005";
}
.icon-gear:before {
    content: "\e006";
}
.icon-left:before {
    content: "\e007";
}
.icon-link:before {
    content: "\e008";
}
.icon-magnify:before {
    content: "\e009";
}
.icon-message:before {
    content: "\e010";
}
.icon-radio:before {
    content: "\e011";
}
.icon-right:before {
    content: "\e012";
}
.icon-send:before {
    content: "\e013";
}
.icon-sonar:before {
    content: "\e014";
}
.icon-users:before {
    content: "\e015";
}
.icon-wifi:before {
    content: "\e016";
}
